#results-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

#results-sort p {
  margin-right: 10px;
}

#results-sort select {
  padding: 5px;
}

#search-bar {
  background: rgb(57, 102, 250);
  background: linear-gradient(
    0deg,
    rgba(57, 102, 250, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
}

#search-bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-bar-title {
  font-size: 3rem;
}

#search-form {
  padding: 35px;
}

#search-form button {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 2px;
  border: 0;
  color: #fff;
}

#search-term {
  width: 50%;
  padding: 10px;
  font-size: 1.5rem;
}

#btn-search {
  background-color: rgb(116, 201, 5);
}

#btn-clear {
  background-color: rgb(206, 160, 8);
}

#error-panel {
  color: orangered;
  padding: 20px;
  font-size: 1.5rem;
}

#results-counter {
  padding: 20px;
  font-size: 1.5rem;
}

#loading {
  color: dodgerblue;
  padding: 10px;
  font-size: 1.5rem;
}
